<!--FOOTER-->
<footer>
    <div class="footer">
        <div class="footer-left">
            <img class="footer-logo" src="/images/Gymazon Logo.png" alt="logo">
            <div class="payment-type">
                <img src="/images/cash-on-delivery.png" alt="COD">
                <img src="/images/VNPAY.png" alt="VNPAY">
                <img src="/images/visa.png" alt="VISA">
                <img src="/images/Mastercard.png" alt="Mastercard">
            </div>
        </div>
        <div class="footer-right">
            <div class="newsletter-box">
                <form action="newsletter" method="post" id="newsletter_sub">
                    <label for="email">Subscribe to our newsletter:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email address" required>
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <div class="footer-nav">
                <ul class="top-links">
                    <li>
                        <a href="#" class="footer-link">about us</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">privacy</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">contact</a>
                    </li>
                </ul>
                <ul class="bottom-links">
                    <li>
                        <a href="#" class="footer-link">copyright</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">policy</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">FQA</a>
                    </li>
                </ul>
            </div>
            <div class="social-media">
                <i class="fi fi-brands-facebook"></i>
                <i class="fi fi-brands-twitter"></i>
                <i class="fi fi-brands-instagram"></i>
                <i class="fi fi-brands-tik-tok"></i>
                <i class="fi fi-ss-globe"></i>
            </div>
        </div>
    </div>
    </div>
    Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a>
</footer>
</body>

</html>