<!--HEADER-->
<header>
    <nav class="navbar">
        <div class="nav">
            <!--Header Logo-->
            <a href="/"><img src="/images/Gymazon Logo.png" class="header-logo" alt="logo"></a>
            <!--Search Bar-->
            <div class="nav-items">
                <div class="search">
                    <input type="text" class="search-box" placeholder="search brand, product,....">
                    <button class="search-btn">
                        <i class="fi fi-rr-search"></i>
                    </button>
                </div>
                <!--Account, Cart, Theme-->
                <a href="login"><img src="/images/user-icon.png" alt="user-icon"></a>
                <a href="cart"><img src="/images/cart.png" alt="cart-icon"></a>
            </div>
        </div>
        <!--Nav Links-->    
        <ul class="links-container">
            <li class="link-item"><a href="all-products" class="link">category</a></li>
            <li class="link-item"><a href="#sale" class="link">sale</a></li>
            <li class="link-item"><a href="#new-arrival" class="link">new arrival</a></li>
            <li class="link-item"><a href="#recommendation" class="link">recommendation</a></li>
        </ul>
    </nav>
</header>