<!--HEADER-->
<header>
    <nav class="navbar">
        <div class="nav">
            <!--Header Logo-->
            <a href="/"><img src="//placehold.it/400x300" class="header-logo" alt="logo"></a>
            <!--Search Bar-->
            <div class="nav-items">
                <div class="search">
                    <input type="text" class="search-box" placeholder="search brand, product,....">
                    <button class="search-btn">
                        <i class="fi fi-rr-search"></i>
                    </button>
                </div>
                <!--Account, Cart, Theme-->
                <a href="login"><img src="/images/user-icon.png" alt="user-icon"></a>
                <a href="#"><img src="/images/cart.png" alt="cart-icon"></a>
                <a href="#"><img src="/images/light.png" alt="theme-icon"></a>
            </div>
        </div>
        <!--Nav Links-->
        <ul class="links-container">
            <li class="link-item" id="category">
                <a href="#" class="link">category</a>
                <ul class="dropdwn-menu">
                    <li class="main-category">
                        <a href="#" id="mc1">equipments</a>
                    </li>
                    <div class="sideleft-menu" id="sc1">
                        <ul class="sub-box">
                            <li class="sub-category"><a href="#">dumbbell</a></li>
                            <li class="sub-category"><a href="#">bench</a></li>
                            <li class="sub-category"><a href="#">weight</a></li>
                            <li class="sub-category"><a href="#">treadmill</a></li>
                        </ul>
                    </div>
                    <li class="main-category">
                        <a href="#" id="mc2">supplements</a>
                    </li>
                    <div class="sideleft-menu" id="sc2">
                        <div class="sub-box">
                            <li class="sub-category"><a href="#">protein</a></li>
                            <li class="sub-category"><a href="#">creatine</a></li>
                            <li class="sub-category"><a href="#">electrolyte</a></li>
                            <li class="sub-category"><a href="#">pre-workout</a></li>
                        </div>
                    </div>
                    <li class="main-category">
                        <a href="#" id="mc3">accessories</a>
                    </li>
                    <div class="sideleft-menu" id="sc3">
                        <div class="sub-box">
                            <li class="sub-category"><a href="#">smartwatch</a></li>
                            <li class="sub-category"><a href="#">bottle/shaker</a></li>
                            <li class="sub-category"><a href="#">mat</a></li>
                            <li class="sub-category"><a href="#">starps</a></li>
                        </div>
                    </div>
                    <li class="main-category">
                        <a href="#" id="mc4">Clothings & Shoes</a>
                    </li>
                    <div class="sideleft-menu" id="sc4">
                        <div class="sub-box">
                            <li class="sub-category"><a href="#">head-gear</a></li>
                            <li class="sub-category"><a href="#">shirt</a></li>
                            <li class="sub-category"><a href="#">shorts/pants</a></li>
                            <li class="sub-category"><a href="#">shoes/socks</a></li>
                        </div>
                    </div>
                </ul>
            </li>
            <li class="link-item"><a href="#sale" class="link">sale</a></li>
            <li class="link-item"><a href="#new-arrival" class="link">new arrival</a></li>
            <li class="link-item"><a href="#recommendation" class="link">recommendation</a></li>
            <li class="link-item"><a href="#event" class="link">event</a></li>
        </ul>
    </nav>
</header>