@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background-color: #eeeeee;
    --header-bg-color: #ffffff;
    --backdrop-color: #f3f3f3;
    --slider-bg-color: #f3f3f3;
    --slider-border-color: black;
    --banner-bg-color: #f3f3f3;
    --banner-border-color: black;

    --title-font-color: black;
    --title-font-family: 'Poppins', sans-serif;
    --title-font-weight: 900;
    --title-font-size: 24px;
    --title-font-background: #f3f3f3;

    --subtitle-font-color: black;
    --subtitle-font-family: 'Poppins', sans-serif;
    --subtitle-font-weight: 600;
    --subtitle-font-size: 14px;
    --subtitle-font-background: #f3f3f3;

    --p-font-color: black;
    --p-font-family: 'Poppins', sans-serif;
    --p-font-weight: 400;
    --p-font-size: 10px;
    --p-font-background: #f3f3f3;
}

body {
    scroll-behavior: smooth;
    margin: 0 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

h1 {
    position: relative;
    width: fit-content;
    margin: 0 10px;
    font-size: 50px;
    background: -webkit-linear-gradient(45deg, #04ff00, #9eff01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    text-decoration: underline;
}

h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg, #04ff00, #9eff01);
}

section#main {
    width: 80%;
    margin: 0 10%;
}

h2 {
    margin-left: 20px;
    font-size: 30px;
    width: 100%;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.order-card {
    margin-top: 30px;
    width: calc(100% - 20px);
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    outline: 1px solid;
}

#order-id{
    margin-left: -10px;
    font-size: 22px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#order-id::before{
    content: '#';
    font-size: 16px;
}

.sub-container {
    display: flex;
    flex-direction: column;
}

#image {
    height: 100px;
    width: 100px;
    justify-content: flex-start;
    align-items: center;
    background-color: aqua;
}

#image img {
    max-height: 100%;
    max-width: 100%;
}

#customer-info {
    width: calc((100% - 100px) * 0.5);
    height: 100%;
}

#product-info {
    width: calc((100% - 100px) * 0.3);
}

#status-box {
    width: calc((100% - 100px) * 0.2);
}

.info{
    
}