<!---  RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Le Quang Dat, Lai Dong Khoa, Nguyen Ich Kiet, Phung Hoang Long, Chu Khai Minh, Vu Thanh Tung.
  ID: s3927251, s3926689, s3978724, s3965673, s3864172, s3963172
-->


<%- include ('partials/head', {title :'Home'}) %>
    <link rel="stylesheet" href="/css/Header_styles.css">
    <link rel="stylesheet" href="/css/Footer_styles.css">
    <link rel="stylesheet" href="/css/Home-Main_styles.css">
    </head>

    <body>
        <%- include ('partials/nav') %>


            <!--MAIN-->
            <main>
                <section class="home-section" id="sale">
                    <h1>sale</h1>
                    <div class="product-slider">
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/products/Balanced-Body-Ball.jpg" alt="Balanced-Body-Ball.jpg">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">Balanced-Body-Ball</a>
                                <span class="product-price">40.00</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="images/products/cardio-series.webp" alt="cardio-series.webp">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">Cardio Series</a>
                                <span class="product-price">40.00</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="images/products/Basics-Neoprene-Workout-Dumbbell.jpg" alt="Basics-Neoprene-Workout-Dumbbell.jpg">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">Basics-Neoprene-Workout-Dumbbell</a>
                                <span class="product-price">29.00</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="images/products/ICAROS-CLOUD.jpg" alt="ICAROS-CLOUD.jpg">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">ICAROS-CLOUD</a>
                                <span class="product-price">49.00</span>    
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="images/products/img1.jpg" alt="img1.jpg">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">TPVL ISO Gold - Premium Whey Protein With Probiotic, 5 Lbs (2.27kg)</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="home-section" id="new-arrival">
                    <h1>New Arrival</h1>
                    <div class="product-slider">
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="home-section" id="recommendation">
                    <h1>recommendation</h1>
                    <div class="product-slider">
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="login" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="login" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                        </div>
                    </div>
                </section>
            </main>


            <%- include ('partials/footer') %>