<%- include ('partials/head', {title :'Home'}) %>
    <link rel="stylesheet" href="/css/Header_styles.css">
    <link rel="stylesheet" href="/css/Footer_styles.css">
    <link rel="stylesheet" href="/css/Home-Main_styles.css">
    </head>

    <body>
        <%- include ('partials/nav') %>


            <!--MAIN-->
            <main>
                <section class="home-section" id="sale">
                    <h1>sale</h1>
                    <div class="product-slider">
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="home-section" id="new-arrival">
                    <h1>New Arrival</h1>
                    <div class="product-slider">
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="home-section" id="recommendation">
                    <h1>recommendation</h1>
                    <div class="product-slider">
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                        <div class="product-card">
                            <a href="#" class="product-image">
                                <img src="/images/hehe.png" alt="">
                            </a>
                            <div class="product-info">
                                <a href="#" class="product-name">This is a product bla bla bla bla bla</a>
                                <span class="product-price">549.99</span>
                            </div>
                            <div class="product-option">
                                <button class="add-to-cart">
                                    <img src="/images/add-to-cart.png">
                                    <span>ADD TO CART</span>
                                </button>
                                <button class="buy-now">
                                    <img src="/images/buy.png" alt="">
                                    <span>BUY NOW!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </main>


            <%- include ('partials/footer') %>