<%- include ('partials/head', {title :'Login'}) %>
    <link rel="stylesheet" href="/css/login-style.css">
    </head>

    <body>
        <section id="login">
            <h1>LOGIN</h1>
            <form method="post" id="login-form" action="/login">
                <label for="username">USER NAME:</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" required>
                <label for="password">PASSWORD:</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
                <button type="submit">LOG IN</button>
                <span id="create">Haven't got an account? Sign up <a href="create-account">here</a></span>
            </form>
        </section>
    </body>

    </html>