@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

section#acc-type {
    position: absolute;
    height: 600px;
    width: 100%;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section#acc-type input[type=checkbox] {
    display: none;
}

.button {
    height: 180px;
    display: flex;
    padding: 0 20px;
    cursor: pointer;
}

.img {
    height: 140px;
    width: 140px;
    border: 2px solid black;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button img {
    height: 90px;
    width: 90px;
}

.button .description {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 10px;
}

.description h1 {
    font-size: 25px;
}

.description span {
    font-size: 17px;
    text-align: left;
}

/*CREATE ACCOUNT FORM*/
.return {
    position: absolute;
    top: 200px;
    left: 200px;
    padding: 10px 20px;
    border: 1px solid black;
    z-index: 1;
}

section.create {
    position: absolute;
    width: 100%;
    transform: translate(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.create span {
    margin-top: 30px;
    align-self: center;
    font-size: 30px;
    font-weight: 500;
    padding: 30px;
}

.sign-form {
    width: 400px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
}

.sign-form label {
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
}

.sign-form input {
    margin-top: 10px;
    height: 40px;
    width: calc(100% - 20px);
    font-size: 17px;
    font-weight: 200;
    background-color: rgb(226, 226, 226);
    padding: 0px 10px;
    border: none;
}

.sign-form input[type=file] {
    padding: none;
    height: auto;
    width: auto;
    background-color: transparent;
}

.sign-form button {
    margin-top: 40px;
    height: 40px;
    width: inherit;
    font-size: 17px;
    color: white;
    background-color: rgb(77, 148, 255);
    border: none;
}

.sign-form input:hover,
.sign-form button:hover {
    opacity: 0.8;
}

/*transition for customer form*/
section#acc-type:has(> input#customer:checked) {
    transform: translateX(-100%);
    transition: ease-in-out 1s;
}

section#acc-type:has(> input#customer:checked)+section#customer-sign {
    transform: translateX(0);
    transition: ease-in-out 1s;
}

section#acc-type:has(> input#customer:not(:checked)) {
    transition: ease-in-out 1s;
}

section#acc-type:has(> input#customer:not(:checked))+section#customer-sign {
    transition: ease-in-out 1s;
}

/*transition for shipper form*/
section#acc-type:has(> input#shipper:checked) {
    transform: translateX(-100%);
    transition: ease-in-out 1s;
}

section#acc-type:has(> input#shipper:checked)~section#shipper-sign {
    transform: translateX(0);
    transition: ease-in-out 1s;
}

section#acc-type:has(> input#shipper:not(:checked)) {
    transition: ease-in-out 1s;
}

section#acc-type:has(> input#shipper:not(:checked))~section#shipper-sign {
    transition: ease-in-out 1s;
}

/*transition for vendor form*/
section#acc-type:has(> input#vendor:checked) {
    transform: translateX(-100%);
    transition: ease-in-out 1s;
}

section#acc-type:has(> input#vendor:checked)~section#vendor-sign {
    transform: translateX(0);
    transition: ease-in-out 1s;
}

section#acc-type:has(> input#vendor:not(:checked)) {
    transition: ease-in-out 1s;
}

section#acc-type:has(> input#vendor:not(:checked))~section#vendor-sign {
    transition: ease-in-out 1s;
}