@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

section#login{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login span{
    align-self: center;
    font-size: 35px;
    font-weight: 500;
    padding: 60px;
}

#login-form{
    width: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
}


#login-form label{
    font-size: 15px;
    font-weight: 300;

}

#login-form input{
    margin-top: 10px;
    height: 40px;
    width: calc(100% - 20px);
    font-size: 17px;
    font-weight: 200;
    background-color: rgb(226, 226, 226);
    padding: 0px 10px;
    border: none;
}

#login-form label:nth-of-type(2){
    margin-top: 40px;
}

#login-form button{
    margin-top: 40px;
    height: 40px;
    width: inherit;
    font-size: 17px;
    color: white;
    background-color: rgb(77, 148, 255);
    border: none;
}

#login-form input:hover,
#login-form button:hover{
    opacity: 0.8;
}

span#create{
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0 0 0;
}

span#create a{
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

span#create a::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 2px;
    left: 0;
    background-color: rgb(80, 144, 255);
    transition: ease-in-out 0.3s;
    z-index: -1;
}

span#create a:hover::after{
   height: 100%;
   bottom: 0;
}

span#create a:hover {
    background-size: 0 3px, 100% 3px;
  }